*,
*::before,
*::after {
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.container {
    position: relative; 
    width: 100%;
    height: 100vh;
  }
  
.homesync {
  position: absolute;
  color: white;
  font-size: clamp(1rem, calc(3vw + 1rem), 4rem);
  top: 34;
  left: 130; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

  .signup-button,
  .login-button,
  .whatis-button{
    position: absolute;
    top: 27px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 650;
    font-family:var(--bs-font-sans-serif);
    cursor: pointer;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    outline: none;
    transition: opacity 0.3s ease-in-out; /* Smooth fading effect */
  }
  
  .signup-button {
    left: 600px;
    background: #204160;
    color: white;
  }
  
  .login-button {
    left: 700px;
    background: white;
    color: #204160;
  }

  .whatis-button {
    left: 805px;
    background: #FFB8B8;
    color: #204160;
  }
  
  /* Hover Effect (Fading) */
  .signup-button:hover,
  .login-button:hover,
  .whatis-button:hover {
    opacity: 0.5;
  }
  